<#--<!DOCTYPE HTML>-->
<#--<html lang="ko">-->
<#--<head>-->
<#--&lt;#&ndash;<#include "../common/head.ftl">&ndash;&gt;-->
    <#--<title>채널 조회</title>-->
<#--</head>-->
<#--<body>-->
<#--<div id="wrapper">-->
<#--&lt;#&ndash;<#include "../common/header.ftl">&ndash;&gt;-->
<#--&lt;#&ndash;<#include "../common/side.ftl">&ndash;&gt;-->
    <#--<div id="page-content-wrapper">-->
        <#--<div class="container-fluid">-->
            <#--<div class="page-header">-->
                <#--<h1 style="margin-top:0px"><i class="fa fa-comments-o" aria-hidden="true">&nbsp;</i>채널 조회</h1>-->
            <#--</div>-->
            <#--<div class="row">-->
                <#--<h3>1. IF-LICENSE-001 (<a href="search?stb_id={5EA18A4F-DE5C-11E4-B1E2-83BD0173DE6D}&mac_address=28:32:c5:4f:2c:f9">링크</a>)</h3>-->
            <#--</div>-->
        <#--</div>-->
    <#--</div>-->
<#--</div>-->
<#--&lt;#&ndash;<#include "../common/footer.ftl">&ndash;&gt;-->
<#--<script type="text/javascript">-->
    <#--$(function () {-->
    <#--});-->
<#--</script>-->
<#--</body>-->
<#--</html>-->